   <div class="row">
    <% if @actors && !@actors.empty? %>
		<%@actors.each do |actor| %>
        <div class="col-lg-4">
          <%image_tag actor.avatar.url, alt: actor.name, style: 'width: 140px; height: 140px;', class: 'img-circle'%>
          <h2><%=actor.name%></h2>
          <p><%=actor.about%></p>
          <p>
          <%= link_to 'View Details', actor, class: 'btn btn-default'%> 
          </p>
        </div><!-- /.col-lg-4 -->
      <% end %>
    <% else %>
        <div class="jumbotron">
          <p>No Actors found.</p>
        </div>
    <% end %>
  </div><!-- /.row -->
